h1 {
  margin-bottom: 25px;
}

h2 {
  margin-bottom: 25px;
  text-align: center;
}

#date {
  margin-bottom: 60px;
}

.list-group-item {
  padding-bottom: 35px;
}

.ruby-slide {
  text-align: center;
}

#carousel {
  background-color: gray;
  text-align: center;

}

#pricing {
  background-color: gray;
}
