<% @customers.each do |customer|%>

<h1><%= link_to customer.firstname, customer_path(customer) %></h1>


<%= link_to 'Show', customer_path(customer) %>
<%= link_to 'Edit', edit_customer_path(customer) %>

<hr>

<% end %>