<% @customers.each do |customer|%>

<h1><%= link_to customer.lastname, customer_path(customer) %></h1>


<%= link_to 'Show', customer_path(customer) %>
<%= link_to 'Edit', edit_customer_path(customer) %>
<%= link_to 'Delete', customer_path(customer), method: :delete, data: { confirm: 'Are you sure you want to delete this?' } %>


<hr>

<% end %>